<h1>Please choose if you want to add doctor or patient</h1>

<div class="container">
  <a href="/form_doctor">Add Doctor</a>
  <a href="/form_patient">Add Patient</a>
  <a href="/">Go back to home page</a>
</div>
