<h1><%= @doctor.name() %></h1>

<% if @doctor.patients().any?() %>
  <h3>Here are all the patients for this doctor:</h3>

  <ul>
    <% @doctor.patients().each() do |patient| %>
      <li><%= patient.name() %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no patients assign to this doctor!</p>
  <% end %>

  <hr>

  <div class="container">
    <a href="/">Home</a>
    <a href="/doctors_list">View All Doctors</a>
  </div>
