<h3>Add New Patient</h3>

<form action="/patients" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Full Name:</label>
    <input class="form-control" id='name' name='name' type="text">
    <label class="form-label" for='birthdate'>Date of Birth:</label>
    <input class="form-control" id='birthdate' name='birthdate' type="text">
    <label class="form-label" for='doctor_id'>Doctor ID:</label>
    <input class="form-control" id='doctor_id' name='doctor_id' type="number">
    <button type="submit" class="button btn">Add to List</button>
  </div>
</form>
